<div class="app-page-not-found-page__grid">
    <div class="app-page-not-found-page__text-container">
        <div class="app-page-not-found-page__caption">
            <div>Oopsie!</div>
            <div>You should not be here!</div>
        </div>
        <div>
            Do not worry, I'll show you the way out. Back to the dashboard! From there you can navigate to anywhere
            else.
        </div>
        <a mat-raised-button color="primary" class="app-page-not-found-page__return-home" [routerLink]="['/']">Let's
            go!</a>
    </div>
</div>