<mat-sidenav-container class="app-shell__sidenav-container">
    <mat-sidenav class="app-shell__sidenav">
      <div class="app-shell__sidenav-items-container">
        <a class="app-shell__branding-apps" [routerLink]="['/']" routerLinkActive="router-link-active">
            <span>Suneeh - TODO PICTURE HERE</span>
        </a>
  
        <mat-nav-list dense class="app-shell__nav-list">
          <a
            class="app-shell__menu-item"
            mat-list-item
            [routerLink]="['/dashboard']"
            routerLinkActive="app-shell__router-link-active">
            <mat-icon mat-list-icon>home</mat-icon>
            <span class="app-shell__menu-item-text">Dashboard</span>
          </a>
          <a
            class="app-shell__menu-item"
            mat-list-item
            [routerLink]="['/products']"
            routerLinkActive="app-shell__router-link-active">
            <mat-icon mat-list-icon>sell</mat-icon>
            <span class="app-shell__menu-item-text">Produkte</span>
          </a>
          <mat-divider class="app-shell__menu-divider"></mat-divider>
          <a
            class="app-shell__menu-item"
            mat-list-item
            [routerLink]="['/operator']"
            routerLinkActive="app-shell__router-link-active">
            <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
            <span class="app-shell__menu-item-text">Operator</span>
          </a>
          <a
            class="app-shell__menu-item"
            mat-list-item
            [routerLink]="['/admin']"
            routerLinkActive="app-shell__router-link-active">
            <mat-icon mat-list-icon>lock</mat-icon>
            <span class="app-shell__menu-item-text">Admin</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="app-shell__content">
      <mat-toolbar class="app-shell__topbar">
        <a mat-icon-button [matMenuTriggerFor]="accountSubMenu">
          <mat-icon>account_circle</mat-icon>
          <mat-menu #accountSubMenu="matMenu">
            <a mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              Ausloggen
            </a>
          </mat-menu>
        </a>
        <mat-divider class="app-shell__topbar-divider" [vertical]="true"></mat-divider>
        <div class="app-shell__topbar-app-information">
          <div>woop woop</div>
          <div>woop woop</div>
        </div>
      </mat-toolbar>
      <div class="app-shell__main-content-container">
        <router-outlet></router-outlet>
      </div>
      <div class="app-shell__main-content-footer">
        <div>
          <span>© {{ year }} </span>
          <a href="http://suneeh.de/" rel="noreferrer noopener" target="_blank">suneeh.de</a>
        </div>
        <div>
          <a [routerLink]="['/', 'impressum']">Impressum</a>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  